body {
background-color:#0f2a44;
color:white;
}

.stButton>button {
background-color:#1f4e79;
color:white;
border-radius:10px;
height:50px;
font-size:18px;
}

.stTextInput input {
background-color:#e8f0fa;
}

.stDateInput input {
background-color:#e8f0fa;
}
