.stApp {
background-image: url("assets/dashboard_bg.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;
}
body {
background-color:#0f2a44;
color:white;
}

.stButton>button {
background-color:#1f4e79;
color:white;
border-radius:10px;
height:50px;
font-size:18px;
}

.stTextInput input {
background-color:#e8f0fa;
}

.stDateInput input {
background-color:#e8f0fa;
}
